
# ignore folders

coco128/
darknet/
seq_comp/
seq_test/
Org_Imgs_png/
SFU-HW-Objects-v1/
SFU-HW-Objects-v1_perfect/
Yolo_mark/
SFU-HW-Objects-v1_r5/
Object-Detection-Metrics/

py-motmetrics/res_dir_exp/
py-motmetrics/res_dir_opt/
py-motmetrics/res_dir_comp/
py-motmetrics/gt_dir/
py-motmetrics/res_dir/

mAP/input/
mAP/input_example/
mAP/output/

yolov3/output/
yolov3/runs/
yolov3/test/

sort/output/
sort/input/

video_comp/out_bin/
video_comp/out_dec/
video_comp/out_log/
video_comp/per-sequence/

# ignore files
*.png
*.jpg
*.json
*.log
*.zip
*.rar
*.bin
*.yuv
*.avi
*.mp4
*.pt
*.weight
*.pyc